<div class="section">
  <div class="container">
    <h1 class="title">Edit Budget</h1>

    <%= form_with model: @budget do |form| %>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <%= form.text_field :name, class: "input", required: true %>
        </div>
      </div>

      <div class="field">
        <label class="label">Icon</label>
        <div class="control">
          <%= form.text_field :icon, class: "input", required: true %>
        </div>
      </div>

      <div class="field">
        <label class="label">Amount</label>
        <div class="control">
          <%= form.number_field :amount, class: "input", required: true, min: 0, step: 0.01 %>
        </div>
      </div>

      <div class="field is-grouped mt-5">
        <div class="control">
          <%= form.submit "Save", class: "button is-primary" %>
        </div>
        <div class="control">
          <%= link_to "Cancel", budgets_path, class: "button is-light" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
