<%= turbo_stream_from Current.user.family, month: @month %>
<div class="flex flex-col h-screen" data-controller="numpad" data-numpad-date-value="<%= @month %>">
  <%= render "month_selector", prev_link: date_budgets_path(date: @month.prev_month), next_link: date_budgets_path(date: @month.next_month) %>
  <%= render "amount_input" %>
  <%= render "budgets" %>
  <%= render "numpad" %>
</div>
