<%= turbo_stream_from Current.user.family, date: @date %>

<% expense_date = @date == Date.current.beginning_of_month ? Date.current : @date %>
<section class="section is-full-height is-flex is-flex-direction-column" data-controller="numpad" data-numpad-date-value="<%= expense_date %>">
  <div class="container is-flex-grow-1">
    <%= render "month_selector", prev_link: date_budgets_path(date: @date.prev_month), next_link: date_budgets_path(date: @date.next_month) %>
    <%= render "budgets" %>
    <%= render "monthly_total", monthly_total: @monthly_total, date: @date %>
  </div>

  <div class="container">
    <div class="buttons is-centered">
      <button class="button is-warning is-medium" data-action="numpad#openModal" data-refund="true">
        <span class="icon"><i class="fa-solid fa-plus"></i></span>
        <span>Refund</span>
      </button>
      <button class="button is-primary is-medium" data-action="numpad#openModal" data-refund="false">
        <span class="icon"><i class="fa-solid fa-plus"></i></span>
        <span>Expense</span>
      </button>
    </div>
  </div>

  <%= render "expense_modal" %>
</section>
