<div class="grow mb-4">
  <%= turbo_frame_tag "budgets", class: "flex flex-wrap gap-2" do %>
    <% total = 0 %>
    <table class="min-w-full table-auto">
      <thead class="justify-between">
        <tr class="uppercase text-sm leading-normal">
          <th class="py-3 px-2 text-left">Day</th>
          <th class="py-3 px-2 text-left">Spender</th>
          <th class="py-3 px-2 text-right">Amount</th>
        </tr>
      </thead>
      <tbody class="text-sm font-light">
        <% @expenses.each do |expense| %>
          <% total += expense.amount %>
          <tr class="border-b border-gray-200">
            <td class="py-3 px-2 text-left whitespace-nowrap"><%= expense.date.day %></td>
            <td class="py-3 px-2 text-left"><%= expense.creator.first_name %></td>
            <td class="py-3 px-2 text-right"><%= number_to_currency(expense.amount) %></td>
          </tr>
        <% end %>

        <tr>
          <td class="py-3 px-2 text-left whitespace-nowrap"></td>
          <td class="py-3 px-2 text-right"></td>
          <td class="py-3 px-2 text-right text-lg"><%= number_to_currency(total) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
