<div class="flex flex-col h-screen">
  <%= render "budgets/month_selector", prev_link: date_budget_expenses_path(@budget, @month.prev_month), next_link: date_budget_expenses_path(@budget, @month.next_month) %>

  <div class="grow mb-4">
    <div class="bg-gray-200 rounded p-2 text-center mb-4 mt-4">
      <span data-numpad-target="amount" class="text-2xl font-semibold dark:text-slate-700"><%= @budget.name %></span>
    </div>

    <% total = 0 %>
    <table class="min-w-full table-auto">
      <thead class="justify-between">
        <tr class="uppercase text-sm leading-normal">
          <th class="py-3 px-2 text-left">Day</th>
          <th class="py-3 px-2 text-left">Spender</th>
          <th class="py-3 px-2 text-right">Amount</th>
        </tr>
      </thead>
      <tbody class="text-sm font-light">
        <% @expenses.each do |expense| %>
          <%
            total += expense.amount
            date = expense.date
          %>
          <tr class="border-b border-gray-300 dark:border-gray-500 <%= date.sunday? || date.saturday? ? 'bg-gray-200 dark:bg-gray-700' : '' %>">
            <td class="py-3 px-2 text-left whitespace-nowrap"><%= date.day %></td>
            <td class="py-3 px-2 text-left"><%= expense.creator.first_name %></td>
            <td class="py-3 px-2 text-right">
              <%= link_to number_to_currency(expense.amount), budget_expense_path(@budget, expense),
                          data: { turbo_method: :delete,
                                  turbo_confirm: "Delete this expense?" } %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td class="py-3 px-2 text-left whitespace-nowrap"></td>
          <td class="py-3 px-2 text-right"></td>
          <td class="py-3 px-2 text-right text-lg"><%= number_to_currency(total) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
